<div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-4">Welcome to ChiA GoTHS!</h1>
    <p class="text-lg leading-relaxed">
        This is an example content page for the ChiA GoTHS project. It combines
        <span class="font-bold"><a href="https://go-chi.io/" target="_blank" class="underline">Go-Chi</a></span>,
        <span class="font-bold"><a href="https://alpinejs.dev/" target="_blank" class="underline">Alpine.js</a></span>,
        <span class="font-bold"><a href="https://go.dev/" target="_blank" class="underline">Go</a></span>,
        <span class="font-bold"><a href="https://tailwindcss.com/" target="_blank" class="underline">Tailwind CSS</a></span>,
        <span class="font-bold"><a href="https://htmx.org/" target="_blank" class="underline">HTMX</a></span>,
        and
        <span class="font-bold"><a href="https://www.sqlite.org" class="underline" target="_blank">SQLite</a></span>
        to create a powerful and modern web application.
    </p>
    <p class="text-lg leading-relaxed mt-4">
        This project is a work in progress, and further updates will come to provide better example usage of these
        technologies together. <a href="/status" class="underline">Click here</a> to see what's in progress.
    </p>
    <p class="text-lg leading-relaxed mt-4">
        You can follow me on
        <span>X/Twitter(Same thing)</span>
        @ <span class="font-bold"><a href="https://x.com/HowardL3" target="_blank" class="text-blue-500">HowardL3</a></span>.
    </p>
</div>
