<footer class="bg-blue-500 p-4 text-white py-4 fixed bottom-0 w-full ">
    <div class="container mx-auto">
        <p>{{now | date "2006"}} ChiA GoTHS <a href="https://github.com/Howard3/chia-goths" target="_blank" class="underline">GitHub Repository</a></p>

    </div>
</footer>
