<nav class="bg-blue-500 p-4 text-white">
    <div class="container mx-auto">
        <a href="/" class="text-2xl font-bold mr-4">ChiA GoTHS</a>
        <a href="/status" class="mr-4">Project Status</a>
        <a href="/technologies" class="mr-4">Technologies</a>
        <a href="/csrf-testing">CSRF Testing</a>
    </div>
</nav>
