<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devdit</title>
    <link href="{{const "AppPath"}}/assets/css/main.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-gray-300 h-screen antialiased leading-none font-sans pb-16">

{{partial "layouts/header"}}

<main class="container mx-auto max-w-xl pt-8">
    {{ yield }}
</main>

<footer class="bg-gray-800 py-4 fixed bottom-0 w-full border-t border-gray-700">
    <div class="container mx-auto text-center text-gray-300">
        "{{ randomFooterMessage }}"
    </div>
</footer>

</body>

</html>
