<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devdit</title>
    <link href="{{const "AppPath"}}/assets/css/main.css" rel="stylesheet">
</head>

<body class="bg-gray-100 h-screen antialiased leading-none font-sans">

<header class="bg-blue-600 py-6">
    <div class="container mx-auto flex justify-between items-center px-4">
        <div class="text-white text-2xl font-bold">
            Devdit
        </div>
        <nav class="space-x-4 text-white text-bold">
            <a href="#" class="hover:text-gray-200">Home</a>
            <a href="#" class="hover:text-gray-200">About</a>
            <a href="#" class="hover:text-gray-200">Contact</a>
        </nav>
    </div>
</header>

<main class="container mx-auto max-w-xl pt-8 pb-16">
    {{ yield }}
</main>

<footer class="bg-blue-600 py-4 mt-16">
    <div class="container mx-auto text-center text-white">
        "{{ randomFooterMessage }}"
    </div>

</footer>

</body>

</html>
